{% extends 'base.html' %}

{% block content %}
<div class="update-div">
  <form method="post">
    {% csrf_token %}
    <table class="update-form">
      <tr>
        <td>
          <div class="col-md tables"><label for="text">Item: </label></div>
          {{ form.text }}

        </td>
      </tr>
      <tr>
        <td>
          <div class="col-md tables"><label for="amount">Amount: </label></div>
          {{ form.amount }}
        </td>
      </tr>
      <tr>
        <td>
          <div class="col-md tables"><label for="whose_account_to_repay">Whose account: </label></div>
          {{ form.whose_account_to_repay }}
        </td>
      </tr>
    </table>
    <div class='update-button'>
      <input type="submit" value="Update details" class="btn btn-outline-danger btn-lg">
    </div>
  </form>
</div>
{% endblock %}